<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="StorageBox.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>  
  
  <applicationSettings>
    <StorageBox.Client.Properties.Settings>
      <setting name="StorageServiceEndPoint" serializeAs="String">
        <value>http://localhost:61456/</value>
      </setting>
      <setting name="ApplicationKey" serializeAs="String">
        <value>8C14BBEA-A616-40A6-BFF8-9D32FC4FF41D</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>storage.tests</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>12345678</value>
      </setting>
      <setting name="DeviceDescription" serializeAs="String">
        <value>Storage Service Client Tests</value>
      </setting>
    </StorageBox.Client.Properties.Settings>
  </applicationSettings>
</configuration>